%h1 Find green alternatives

%form{:action => "/go_green", :method => "post"}
  %label{:for => "cro"} Enter the CRO number of you supplier:
  %br
  %input{:type => "text", :name => "cro"}
  %br
  %input{:type => "submit", :value => "Send"}